# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
tsconfig.tsbuildinfo

# local environment variables & secrets
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# local private document storage
/storage/
*.pdf

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts